<form action="/tasks/<%= @task.id %>" method="post">
  <input type="hidden" name="authencitiy_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='task[title]' value="<%= @task.title%>"/><br/>
  <textare name='task[description]'><%= @task.description %></textarea><br/>
  <input type='submit'/>
</form>
